<div class="container">
    <div class="text">
        <div class="article-id"><b>ID:</b> {{ item.articleId }}</div>
        <div class="info">
            <div class="row">
                <a><b>Article:</b></a>
                <div class="col-xs-6">
                    <a class="name">{{ item.name }}</a>
                </div>
                <div class="col-xs-6">
                    <a class="price">{{ item.price }} €</a>
                </div>
            </div>
        </div>
        <div class="email"><b>Email:</b> {{ item.userEmail }}</div>
    </div>
</div>