<li *ngIf="isLoggedIn()"><button class="btn btn-primary" routerLink="/main" (click)="logout()">Logout</button></li>
<li *ngIf="!isLoggedIn()" routerLinkActive="active"><button class="btn btn-primary" routerLink="/auth">Login</button></li>
<li routerLinkActive="active"><button class="btn btn-primary" routerLink="/shoppingcart">Cart</button></li>
<li routerLinkActive="active"><button class="btn btn-primary" routerLink="/orders">Orders</button></li>
<li *ngIf="isAdmin()"><button class="btn btn-primary">Admin</button></li>

