.container {
    margin-top: 7.5vh;
    position: relative;
    display: inline-block;
}

.orders {
    list-style: none;
    background-color: rgb(200, 200, 200, 0.5);
    padding: 2em;
}

.order {
    background-color: rgb(200, 200, 200, 0.5);
    padding: 1em;
    margin: 0.5em 0;
}
.message {
    padding: 0.5em;
}
